files:
  "/etc/nginx/conf.d/websocket-upgrade.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /ws {
          proxy_pass http://nodejs;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 86400s;
          proxy_send_timeout 86400s;
      }
